<style>
.form-group.user_nick { margin-bottom:5px; }
.message { margin-bottom:10px; }
.result { x-font-size: 12px; color:#297282; font-weight:bold; }
.result .fail { color:#ff7373; }
.invalid-feedback { x-font-size: 12px; color:#ff7373; font-weight:bold; }
.check_btn { color:#fff; background:#516B82; padding: 3px 7px 3px; x-font-weight:bold; margin-right:5px; cursor:pointer;  }
.msgadd { font-size: 13px; color: #297282; margin-bottom:15px; }
</style>

<div class="devise">

  <div class="register">

    <%#= devise_error_messages! %>
    
    <h2>회원 가입</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= f.error_notification %>

    <div class="form-inputs">
    
      <%= f.input :email,
        required: true,
        autofocus: true ,
        input_html: { autocomplete: "email" } %>
      
      <p class='msgadd'>☞ E-mail 로 발송된 내용을 확인한 후 인증하셔야 회원가입이 완료됩니다. </p>
      
      <%= f.input :name,
      required: false,
      input_html: { autocomplete: "name" } %>

      <%= f.input :nick,
        required: true,
        input_html: { autocomplete: "nick" } %>

      <div id="nick_result" class="message" ><span class='check_btn'>중복확인</span><span class="result"></span></div>

      <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} 글자 이상" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
      
      <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" } %>
      
    </div>

    <%# if @recaptcha_enabled %>
      <%####= recaptcha_v3(action: "register", turbolinks: true, script_async: true ) %>
      <%#= recaptcha_tags(turbolinks: true, script_async: true ) %>
      <br>
    <%# end %>

    <div class="form-actions">
      <%= f.button :submit, "가입 신청", class: "btn btn-primary" %>
    </div>

    <% end %>

    <br>
    <br>
    <h3>SNS Login</h3>
    
    <%= render "devise/shared/links" %>

  </div>
</div>

<script>
var check_nick_dup = function() {
  var url = '<%= users_auth_check_nick_uniq_path %>';
  var nick = $("input#user_nick").val();
  if(nick == '') {
    $('#nick_result .result').html("<span class='fail'>입력내용이 없습니다.</span>");
    return;
  }
  
  var result = false; 
  $.ajax({ url: url,
    type: 'POST',
    //beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
    data: 'nick=' + nick,
    success: function(response) {
    var html = "<span>사용할 수 있는 별명입니다.</span>"; 
    if(response.exists) {
      html = "<span class='fail'>사용할 수 없는 별명입니다.</span>";
      result = true;
    }
    $('#nick_result .result').html(html);
    }
  });
  return result;
};

//$("input#user_nick").blur(function() {
  //check_nick_dup();
//}); 

$('.register .check_btn').click(function() {
  check_nick_dup();
});

$('.user_nick').focusout(function() {
  check_nick_dup();
});
</script>

