<% content_for :content_header  do %>
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a href="/">홈</a></li>
      <li class="active">한류링크</li>
    </ol>
  </section>
<% end %>

<div class='hanuris'>
  <div class="board_head">
    <div class="board_name">
      <h2><i class="fa fa-list-alt" aria-hidden="true"></i>
        <a href="/hanuris">한류링크</a></h2>
    </div>
  </div>
</div>

<%= content_for :content_header  %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
    
      <h2>나라별</h2>
      <div class="lang_key_links">
      <%= render "country_index_links", lang: @lang %>
      </div>
      
      <div class="box box-primary">
        <div class="box-body">
          <div class="hanuri_list">
            <div class='head_info'>
              전체 개수: <%= @total_count %>
            </div>
            <ul>
              <% @country_keys.each do |country| %>
              <div class='item'>
                <div class='imgwrap'>
                  <%= link_to image_tag("/common/flags/100/#{country.downcase}.png"), hanuris_country_index_path(country) %>
                </div>
              </div>
              <% end %>
              <% if @country_keys.length == 0 %>
                <div class='item'>
                  <div class='subject'>자료가 없습니다.</div>
                </div>
              <% end %>
            </ul>

            <div class="bottom ">
              <div class="btnbox1 form-actions">
                <% if !@keyword.nil? %>
                <a class="btn btn-link btn-sm" href="<%= hanuris_path({page:@page}) %>">목록</a></span>
                <% end %>
                <% if current_user&.admin? %>
                <a class="btn btn-primary btn-sm" href="<%= new_hanuri_path %>" data-turbolinks="false">새 한류링크</a>
                <% end %>
              </div>
              <div class="hcafe2_pagination">
                <%= will_paginate @country_keys, { params: { controller: "hanuris", action: "country_index" }, previous_label: "◀이전", next_label: "다음▶", inner_window: 4, outer_window: 0, page_set: 10, show_right_side: false }; %>
              </div>
            </div>
          
          </div>

        </div>
      </div>
      
    </div>
  </div>
</section>

