<% content_for :content_header  do %>
  <section class="content-header">
    <h1>게시판 목록 <small>boards</small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">boards</li>
    </ol> 
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
      
        <div class="box box-header">
          <div class="searchform">
            <form name="search" action="<%= admin_boards_path %>">

              <div class="box-header">        
                <div class="box-tools pull-right">
                  <%= link_to new_admin_board_path(@board), :class => 'btn btn-success' do %>
                    <span class="glyphicon glyphicon-plus"></span>
                    새 게시판
                  <% end %>
                </div>
              </div>
        
              <div class='searchform_row'>
                <%= select_tag(:board_group_id, options_for_select(@board_group_options, @board_group_id)) %>              
              </div>
              
              <div class='searchform_row'>
              
                <%= select_tag(:where, options_for_select([["이름", "name"],["bid", "bid"]], @where)) %>
                
                <input type="text" name="keyword" size="30" value="<%= params[:keyword]%>" class="input">
                <input type="submit" value="검색" class="btn btn-primary btn-sm">
                &nbsp;&nbsp;
                <span>
                  <%= check_box_tag(:display, 1, @display > 0 ) %>
                  <%= label_tag(:display, "목록공개") %> &nbsp;
                  <%= check_box_tag(:hidden, 1, @hidden > 0) %>
                  <%= label_tag(:hidden, "숨김") %>
                </span>
              
              </div>
              
              <div class='searchform_row'>
                <%= label_tag(:sort, "정렬항목") %>
                <%= select_tag(:sort, 
                  options_for_select([['기본', 'id'],['이름', 'name'],['bid', 'bid']], 
                  @sort)) 
                %>
                <%= label_tag(:orderby, "정렬") %>
                <%= select_tag(:orderby, 
                  options_for_select([['정순', 'asc'],['역순', 'desc']], 
                  @orderby))
                %>
                <%= label_tag(:recnum, "항목수") %>
                <%= select_tag(:recnum, 
                  options_for_select([15, 20, 30, 50, 100, 200].map {|x| ["#{x}개", x]}, 
                  @recnum)) 
                %>
              </div>
              
            </form>
          </div>
        </div>

        <div class="head ">
        <div class="">
          <div class="post_count">전체글 <%= @total_count %> ( 페이지 <%= @page %> / <%= @total_page_num %> )</div>
        </div>
        </div>
        
        <%= form_tag admin_boards_proc_path, :name => 'list' %>

        <%= hidden_field_tag(:act, "") %>
      
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th><%= check_box_tag('selectall', '', false, :id => 'selectall') %></th>
              <th>id</th>
              <th>그룹</th>
              <th>bid</th>
              <th>이름</th>
              <th>게시글수</th>
              <th>관리자수</th>
              <th>순서</th>
              <th>목록에 나옴</th>
              <th>숨김(접근방지)</th>
              <th>작업</th>
              </tr>
            </thead>
            
            <tbody>
              <% @boards.each do |board| %>
              <tr>
                <td><%= check_box_tag("selected_boards[]", board.id, false, :class => "selected_boards", :id => "selected_boards_#{board.id}") %></td>
                <td><%= board.id %></td>
                <td><%= board.board_group&.name %></td>
                <td><%= link_to board.bid, board_posts_path(board.bid), target: "_blank" %></td>
                <td><%= board.name %></td>
                <td><%= link_to board.post_count, {controller: :posts, board_id:board.id}, target: "_blank" %></td>
                <td><%= board.moderators.length %></td>
                <td><%= board.arrange %></td>
                <td><%= board.display > 0 ? "✅" : "❌" %></td>
                <td><%= board.hidden > 0 ? "✅" : "❌" %></td>
                <td><%= link_to "편집", edit_admin_board_path(board) %>&nbsp;
                <%= link_to "삭제", admin_board_path(board), method: :delete, data: { confirm: "Are you sure?" } %></td>
              </tr>
              <% end %>
            </tbody>            
          </table>

          <div class="box-footer">
          
            <div class="btnbox1">
            </div>
            
            <div class="btnbox2">
              <span class="btn btn-link"><a href="<%= admin_boards_path %>">처음목록</a></span>          
            </div>
            
            <div class="pagebox">
              <div class="digg_pagination" style=''>
                <%= will_paginate @boards, { previous_label: "이전", next_label: "다음", inner_window: 4, outer_window: 4, show_right_side: true, total_pages: @total_count / @recnum }; %>
              </div>
            </div>
            
            <div class="actionbox1">
              <input type="button" value="선택항목반전" class="btn btn-link btn-sm" id="selectall_inverse">
              <input type="button" value="게시판그룹 변경" class="btn btn-link btn-sm" id="start_copymove">
              <input type="button" value="목록공개" class="btn btn-link btn-sm" onclick="act_selection('multi_enable_display');">
              <input type="button" value="목록숨김" class="btn btn-link btn-sm" onclick="act_selection('multi_disable_display');">
              <input type="button" value="열기(공개)" class="btn btn-link btn-sm" onclick="act_selection('multi_unhide');">
              <input type="button" value="닫기(숨김)" class="btn btn-link btn-sm" onclick="act_selection('multi_hide');">
            </div>
            
            <div class="actionbox2">
              <%= select_tag(:target_board_group_id, options_for_select(@board_group_options, @board_group_id), id: :selectboard_target) %>
              <input type="button" value="빈경" class="btn btn-link btn-sm" onclick="act_selection('multi_board_group_change');">
            </div>
            
            <!--
            <div class="actionbox3">
              <%#= select_tag(:target_category, options_for_select(@category_options), id: :selectcategory_target) %>
              <input type="button" value="변경" class="btn btn-link btn-sm" onclick="act_selection('multi_category_move');">
            </div>
            -->
            
            <br>
            <br>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>



<script>

  $('#selectall').click(function() {
    var checked = $(this).prop('checked');
    var next_state = checked ? 'checked' : '';
    $('input.selected_boards').prop('checked', next_state);
  });

  $('#selectall_inverse').click(function() {
    $('input.selected_boards').each(function(idx, item) {
      var i = $(item);
      var next_state = ! i.prop('checked');
      i.prop('checked', next_state);
    });
  });

  $('#start_copymove').click(function() {
    $('.actionbox2').toggle();
  });

  $('#start_categorymove').click(function() {
    $('.actionbox3').toggle();
  });

  function act_selection(act)
  {
    var f = document.list;
    var l = document.getElementsByName('selected_boards[]');
    var n = l.length;
    var j = 0;
    var i;
    
    for(i = 0; i < n; i++) {
      if(l[i].checked == true) j++;
    }

    if (j == 0) {
      alert('선택된 게시물이 없습니다.      ');
      return false;
    }

    if (act == 'multi_delete') {
      if(confirm('정말로 삭제하시겠습니까?    ')) {
        f.act.value = act;
        f.submit();
      }
    }
    else if (act == 'multi_hide')
    {
      if(confirm('정말로 비공개처리하시겠습니까?    ')) {
        f.act.value = act;
        f.submit();
      }
    }
    else if (act == 'multi_unhide') {
      if(confirm('정말로 공개처리하시겠습니까?    '))
      {
        f.act.value = act;
        f.submit();
      }
    }
    else if (act == 'multi_enable_display') {
      if(confirm('정말로 목록 공개처리 하시겠습니까?    '))
      {
        f.act.value = act;
        f.submit();
      }
    }
    else if (act == 'multi_disable_display') {
      if(confirm('정말로 목록 비공개처리 하시겠습니까?    '))
      {
        f.act.value = act;
        f.submit();
      }
    }
    else if (act == 'multi_board_group_change') {
      if(confirm('변경하시겠습니까?    ')) {
        f.act.value = act;      
        f.submit();
      }
    }
    else if (act == 'multi_set_notice' || act == 'multi_unset_notice') 
    {
      if(confirm('변경하시겠습니까?    ')) {
        f.act.value = act;
        f.submit();
      }
    }
    else {
      alert('알 수 없는 명령입니다.')
    }
    
    return false;
  }

</script>

