<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>UserLogs</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">user logs</li>
    </ol> 
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
    
      <div class="box ">
        <div class="box-header">
          
          <div class="searchform">
            <form name="search" action="<%= admin_user_logs_path %>">

              <div class='searchform_row'>
              
                <%= select_tag(:where, 
                  options_for_select([
                    ['이벤트 이름', 'event_name'], 
                    ['IP주소', 'ip'], 
                    ['이름', 'name'], 
                    ['별명', 'nick'], 
                    ['이메일', 'email'], 
                  ],
                  @where)) %>
                
                <input type="text" name="keyword" size="30" value="<%= params[:keyword]%>" class="input">
                <input type="submit" value="검색" class="btn btn-primary btn-sm">
                &nbsp;&nbsp;
                <span>
                </span>
              
              </div>
              
              <div class='userform_row'>
                <%= label_tag(:sort, "정렬항목") %>
                <%= select_tag(:sort, 
                  options_for_select([['순번', 'id'],['별명', 'nick'],['날짜', 'created_at']], 
                  @sort)) 
                %>
                <%= label_tag(:orderby, "정렬") %>
                <%= select_tag(:orderby, 
                  options_for_select([['역순', 'asc'],['정순', 'desc']], 
                  @orderby))
                %>
                <%= label_tag(:recnum, "항목수") %>
                <%= select_tag(:recnum, 
                  options_for_select([15, 20, 30, 50, 100, 200, 500, 1000].map {|x| ["#{x}개", x]}, 
                  @recnum)) 
                %>
              </div>
              
            </form>
          </div>
          
        </div>
      </div>
      
      <div class="head ">
        <div class="">
          <div class="post_count">전체 <%= @total_count %> ( 페이지 <%= @page %> / <%= @total_page_num %> )</div>
        </div>
      </div>

      <%#= form_tag admin_user_logs_proc_path, :name => 'list' %>

      <%#= hidden_field_tag(:act, "") %>

      <div class="box box-primary">
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>별명</th>
                <th>email</th>
                <th>이벤트이름</th>
                <th>성공?</th>
                <th>설명</th>
                <th>ip</th>
                <th>useragent</th>
                <th>등록일</th>
              </tr>
            </thead>
            <tbody>
              <% @user_logs.each do |log| user = log.user %>
              <tr>
                <td><%= log.id %></td>
                <td><div class="level_icon lv<%=user&.level%>"></div><%= user.nick %></td>
                <td><%= user.email %></td>
                <td><%= log.event_name %></td>
                <td><%= log.success ? "성공" : "실패※" %></td>
                <td><%= log.reason %></td>
                <td><%= log.ip %></td>
                <td><span data-toggle="tooltip" data-placement="top" title="<%= log.useragent %>">
				<%= log.useragent&.truncate(30) %></span></td>
                <td><%= log.created_at.strftime "%F" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        
        <div class="box-footer">
        
          <div class="btnbox1">
          </div>
          
          <div class="btnbox2">
            <span class="btn btn-link"><a href="<%= admin_users_path %>">처음목록</a></span>          
          </div>
          
          <div class="pagebox">
            <div class="digg_pagination" style=''>
              <%= will_paginate @user_logs, { previous_label: "이전", next_label: "다음", inner_window: 4, outer_window: 4, show_right_side: true, total_pages: @total_count / @recnum }; %>
            </div>
          </div>
          
          <div class="actionbox1">
          </div>
          
          <br>
          <br>
        </div>
        
      </div>
      <!--</form>-->
        
    </div>
  </div>
</section>



<script>

$('#selectall').click(function() {
  var checked = $(this).prop('checked');
  var next_state = checked ? 'checked' : '';
  $('input.selected_users').prop('checked', next_state);
});

$('#selectall_inverse').click(function() {
  $('input.selected_users').each(function(idx, item) {
    var i = $(item);
    var next_state = ! i.prop('checked');
    i.prop('checked', next_state);
  });
});

function act_selection(act)
{
  var f = document.list;
  var l = document.getElementsByName('selected_users[]');
  var n = l.length;
  var j = 0;
  var i;
  
  for(i = 0; i < n; i++) {
    if(l[i].checked == true) j++;
  }

    if (j == 0)
    {
        alert('선택된 게시물이 없습니다.      ');
        return false;
    }
    
    if (act == 'multi_delete')
    {
        if(confirm('정말로 탈퇴처리하시겠습니까? 복구가 불가능합니다!'))
        {
            f.act.value = act;
            f.submit();
        }
    }
    else if (act == 'multi_set_stopped')
    {
        if(confirm('정말로 정지처리하시겠습니까?  '))
        {
            f.act.value = act;
            f.submit();
        }
    }
    else if (act == 'multi_unset_stopped')
    {
        if(confirm('정말로 정지해제 하겠습니까? '))
        {
            f.act.value = act;
            f.submit();
        }
    }
    else {
        alert('알 수 없는 명령입니다.')
    }
  
    return false;
}

</script>


