<div id="tab-configuration" class="<%= "active" if "config" == params[:tab] %> tab-pane ">

  <div class="form-group">
    <%= f.label "첫화면 Youtube 제목" %><br>
    <%= text_field :options, :frontpage_youtube_title, :class => "form-control translatable", :value => @theme.get_option("frontpage_youtube_title") %>
  </div>

  <div class="form-group">
    <%= f.label "첫화면 Youtube Url" %><br>
    <%= text_field :options, :frontpage_youtube_url, :class => "form-control required", :value => @theme.get_option("frontpage_youtube_url") %>
  </div>
    
</div>
